.accountSettings {
  color: var(--textColor);
  .card {
    @media screen and (max-width: 450px) {
      width: 100%;
      height: 100%;
      border-radius: none;
    }
  }
  height: 100%;
  width: 100%;

  button:hover {
    cursor: pointer;
  }

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .cardHeader {
    background: var(--background2);
    padding: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .cardField {
      display: flex;
      flex-direction: row;

      button {
        margin-left: 20px;
        padding: 10px;
        background: var(--accentColor);
        border-radius: 8px;
        border: none;
        color: var(--accentTextColor);
      }
    }
  }
  .cardBodyField {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(129, 129, 129);
    text-align: center;
    background: var(--background2);
    h1 {
      margin: 10px;
    }
    .data {
      display: flex;
      flex-direction: row;
      padding: 10px;
      .word {
        padding: 10px;
      }
      .local,
      .cloud {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .local {
        .word {
        }
        .localHeader {
        }
      }

      .cloud {
        .word {
        }
        .cloudHeader {
        }
      }
    }

    .themeSelect {
      padding: 10px;
      select {
        width: 100%;
        padding: 0.5em;
        border-radius: 8px;
        border: 1px solid var(--accentColor);
        color: var(--textColor);
        background: var(--background2);
      }
    }
  }
  .dataManipulationButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;

    button {
      padding: 10px;
      background: var(--accentColor);
      color: var(--accentTextColor);
      border-radius: 8px;
      border: none;
    }
  }
}

.setUseAccount {
  padding: 10px;
  background: var(--accentColor);
  color: var(--accentTextColor);
}
