.accountSettings {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .cardHeader {
    background: white;
    padding: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    .cardField {
      display: flex;
      flex-direction: row;

      button {
        margin-left: 20px;
        padding: 10px;
        background: #29c5ff;
        border-radius: 8px;
        border: none;
        color: white;
      }
    }
  }

  .data {
    background: white;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(129, 129, 129);
    padding: 10px;
    .word {
      padding: 10px;
    }
    .local,
    .cloud {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .local {
      .word {
      }
      .localHeader {
      }
    }

    .cloud {
      .word {
      }
      .cloudHeader {
      }
    }
  }
}

.setUseAccount {
  padding: 10px;
  background: #29c5ff;
  color: white;
}
