@import "./global";

.card {
  border-radius: 8px;
  @include BoxShadow(2);
  overflow: hidden;

  transition: box-shadow 0.2s;

  &.clickable:hover {
    @include BoxShadow(7);
    cursor: pointer;
  }
}
